venv/
.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp
*.db
*.sqlite3
.ollama/models/
.ollama/download/
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*.swn
*~
.python_history
*.bak
*.old
*.orig
/export/
logs/